%p#notice= notice

%p
  %b Belongs to:
  = @comment.belongs_to
%p
  %b Content:
  = @comment.content
%p
  %b Img url:
  = @comment.img_url

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
