
%table
  %thead
    %tr
      %th Task name
      %th Task progress
      %th Priority
      %th Deadline
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.task_name
        -if task.not_complete?
          %td= link_to '<i class="fas fa-times-circle"></i>'.html_safe, status_change_task_path(task)
        -else
          %td= link_to '<i class="fas fa-check-circle"></i>'.html_safe, status_change_task_path(task)
        %td= task.priority
        - if task.deadline.past?
          %td Deadline time has passed
        - else
          %td= time_ago_in_words(task.deadline)
        %td= link_to 'Comments', project_task_path(@project, task.id)
        %td= link_to 'Edit',  edit_project_task_path(@project, task.id)
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

%br