%p#notice= notice

%p
  %h1= @task.task_name
%p
%p
  %b Priority:
  = @task.priority
%p
  %b Deadline:
  = @task.deadline

= link_to 'Back', @task.project



= render @task_comments

=link_to 'New comment', new_task_comment_url(@task, @task.comments.new)
